.pos-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hide {
  display: none !important;
}

.spinner-border {
  width: 75px !important;
  height: 75px !important;
  border: 5px solid cornflowerblue !important;
  border-right-color: transparent !important;
}

h2.h1 {
  color: cornflowerblue;
}

.error i {
  font-size: 75px;
}

.statusBarBase,
.statusBarCurrent {
  border-radius: 5px;
  height: 20px;
  transition: all 1s ease;
}

.statusBarCurrent {
  background-color: lawngreen;
  width: 0;
}
