@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25vw;
  @extend %section;

  @include mix.tablet-styles {
    position: static;
    @include mix.width-section;
  }

  section {
    position: relative;
    @extend %wrap;
    height: 100%;
    padding-right: (var.$gutter-base * 1.5);

    @include mix.tablet-styles {
      padding-right: 0;
    }

    .sidebar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      gap: var.$gutter-base * 3;

      @include mix.tablet-styles {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }

      ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: (var.$gutter-base * 1.2);

        li a {
          text-transform: capitalize;
        }

        @include mix.tablet-styles {
          display: none;
        }
      }

      .hamburger-menu {
        display: none;
        a {
          font-size: var.$font-size-big;
          border: 2px solid var.$text-color-secondary;
          i {
            padding: 8px;
          }
        }

        @include mix.tablet-styles {
          display: block;
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80%;
      p,
      a {
        font-size: var.$font-size-small;
      }

      @include mix.tablet-styles {
        display: none;
      }
    }
  }
}
